p {
    border: 2px solid powderblue;
    margin: 50px;
  }
  table,th,td{
    border:1px solid;
  }
  ul{
    background-color: bisque;
  }
  dd{
    color:hotpink;
  }
  .coffee{
    background-color: brown;
  }
  #heading{
    border:1px dashed;
    margin:2px;
  }